:root {
    --bs-primary: #11402F;
    --bs-primary-rgb: 17,64,47;
    --bs-secondary: #A7D9D0;
    --bs-secondary-rgb: 167,217,208;
    --bs-light: #f0f0f0;
    --bs-light-rgb: 240,240,240;
    --bs-dark: #414042;
    --bs-dark-rgb: 65,64,66;
}

body {
    background-color: var(--bs-light);
}

.btn-primary {
    --bs-btn-bg: #11402F;
    --bs-btn-text: #F2F0E4;
}


.carousel-item img {
    height: auto;
    width: 100%;
  }

  @media (max-width: 767px) {
    .image-gallery .overflow-x-auto {
      overflow-x: scroll;
      white-space: nowrap;
    }
    .image-gallery .row {
      flex-wrap: nowrap;
    }
    .image-gallery .col {
      display: inline-block;
      vertical-align: top;
    }
     /* SCROLL BAR CUSTOMIZATION */
  ::-webkit-scrollbar {
    width: 10px; 
    height: 10px; 
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 5px; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
  }
  }

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  
